/* css\education.css */

.formation-list {
  display: flex;
  flex-direction: column;
  margin-bottom: calc(var(--spacing) * 1);
}

.formation-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--spacing) * 1);
}

.school {
  font-weight: 600;
}
