/* client\css\header.css */

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: calc(var(--spacing) * 1);
}

header h1 {
  text-transform: uppercase;
  text-align: center;
}

header h3 {
  text-align: center;
  text-decoration: none;
}
